var form = ""

section#home.header(style="background-image: url('../../img/soulgoodman.webp')")
  //NAVBAR
  nav.header__navbar.navbar
    //CONTACTS
    span.navbar__contacts.contacts
      p.contacts__item.plus-small-underline-text (402) 203-6043
      button.contacts__item.mail-button
        p.plus-small-underline-text saulgoodman@gmail.com
    //END-CONTACTS
    span.navbar__name.name
      h1.extra-medium-text.navbar__lawyer-name Soul Goodman
      h1.medium-text.navbar__menu.menu menu
    ul.navbar__nav-links.nav-links
      .nav-links__inner
        li
          a(href='#home').medium-text home
        li
          a(href='#about').medium-text about
        li
          a(href='#job').medium-text job
        li
          a(href='#clients').medium-text clients
        li
          a(href='#info').medium-text info
    //END-MENU
  .email-button.header__email-button
    button.email-button__button.button--dark
      p.extra-medium-text send application
    form.email-button__form(action='mailto:jo4npetrov@yandex.com', method='post', enctype='text/plain')
      .email-button__input-mail-form.input-mail
        .input-mail-form__mails
          .input-mail-form__from-mail.mail
            p from
            input.input-mail-form__sender(type='email', name='sender', placeholder='                                              ', required='')
          .input-mail-form__to-mail.mail
            p to
            input.input-mail-form__receiver(type='text', name='receiver', value='', readonly='', required='')
        input.input-mail-form__message(type='text', name='message', placeholder='your message...', required='')
      input.email-button__submit.button--dark(type='submit', value='send application')