section.header(style="background-image: url('../../img/soulgoodman.webp')")
  nav.header__navbar.navbar
    //CONTACTS
    span.navbar__contacts.contacts
      p.contacts__item.plus-small-underline-text (402) 203-6043
      button.contacts__item.mail-button
        p.plus-small-underline-text saulgoodman@gmail.com
    //END-CONTACTS
    div.navbar__name.name
      h1.extra-medium-text.lawyer-name Soul Goodman
      h1.medium-text.menu menu
    ul.navbar__nav-links.nav-links
      li
        a(href='#').medium-text home
      li
        a(href='#').medium-text about
      li
        a(href='#').medium-text job
      li
        a(href='#').medium-text clients
      li
        a(href='#').medium-text info
    //END-MENU

        //- //CONTACTS
    //- span.header__contacs.contacts
    //-   p.contacts__item.plus-small-underline-text (402) 203-6043
    //-   button.contacts__item.mail-button
    //-     p.plus-small-underline-text saulgoodman@gmail.com
    //- //END-CONTACTS
    //- span.header__name.extra-medium-text Soul Goodman
    //- //MENU
    //- div.header__menu.menu
    //-   a(href="#").menu__item
    //-     p.medium-text home
    //-   a(href="#").menu__item
    //-     p.medium-text job
    //-   a(href="#").menu__item
    //-     p.medium-text about
    //-   a(href="#").menu__item
    //-     p.medium-text clients
    //-   a(href="#").menu__item
    //-     p.medium-text info
    //- div.menu