doctype html
html(lang="en") 	
  include head
  body 
    include html/header
    include html/job
    include html/about
    include html/clients
    include html/footer
    script(src='js/app.min.js')
