@use "config";
/*============== Desktop First ==============*/
/* Large Devices, Laptops */
@media only screen and (max-width: 1500px) {
  .navbar {
  }
  .header {
    &__email-button {
      margin: 0 0 6rem 0 !important;
    }
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .header {
    overflow: hidden;
  }
  .navbar {
    justify-content: center;
    &__nav-links {
      position: absolute;
      height: 93vh;
      bottom: -2%;
      background-color: config.$primary-trasnparent-color;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100% !important;
      transform: translateY(-110%);
      transition:  0.2s ease-in;

    }
    &__name {
      cursor: pointer;
    }
    &__lawyer-name  {
      display: none !important;
    }
    &__menu {
        display: flex !important;
    }
  }
  .contacts {
    display: none !important;
  }
  .nav-links {
    justify-content: flex-start !important;

    &__inner {
      height: 60%;
      flex-direction: column;
      align-items: center;
    }
  }
  //MAIL SEND
  .email-button {
    display: none;
    z-index: 100;
    
		&__button {
		}

		&__form {
      height: 70vh;

		}

		&__input-mail-form  {
      background-color: transparent !important;
      justify-content: space-between;
		}

		&__sender {
		}

		&__submit {
		}
  }
  .input-mail-form {
      width: 21.5rem !important;
      height: 27rem !important;
      &__mails {
        flex-direction: column;
        align-items: center;
        margin: 0 0 2rem 0 !important;
        width: 21.5rem !important;
        display: flex;

      }

      &__from-mail {
        justify-content: space-between;
        width: 21.5rem !important;
        & > p {
          margin: 0 !important;
        }
      }

      &__to-mail {
        justify-content: space-between;
        width: 21.5rem !important;
        & > p {
          margin: 0 !important;
        }
      }

      &__sender {
        
      }

      &__receiver {
      }

      &__message {
        height: 25rem !important;
        width: 21.5rem !important;

      }
  }
  .mail {
  }
  //BUTTON
  .button {
    // @extend .extra-medium-text;
    width: 21.5rem !important;
    height: 5rem !important;
    font-size: 1.8rem !important;
    & p {
      font-size: 1.8rem !important;
    }
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

}
/* Custom, iPhone Retina*/
@media only screen and (max-width: 320px) {

}

/*============== Mobile First ==============*/
/* Custom, iPhone Retina*/
@media only screen and (max-width: 320px) {

}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {


}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {



}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}