@import "fonts";
@import "adaptive";
@import "config";
@import "mixins";
@import "null";

@import "./blocks/header";
@import "./blocks/job";
@import "./blocks/about";
@import "./blocks/clients";
@import "./blocks/footer";

@import "./adaptive/header";
@import "./adaptive/job";
@import "./adaptive/about";
@import "./adaptive/clients";
@import "./adaptive/footer";

html {
  font-size: 10px;
}

body {
  background-color: $primary-color;
  font-family: $fontFamily;
  font-weight: 400;
  color: $secondary-color;
}

html, body, section {
  block-size: 100%;
}

html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

//TEXT
//usual
.plus-small-text {
  font-size: 1.3rem;
}

.small-text {
  font-size: 1.8rem;
}

.medium-text {
  font-size: 2.4rem;
}

.plus-medium-text {
  font-size: 3rem;
}

.extra-medium-text {
  font-size: 3.6rem;
}

.large-text {
  font-size: 4.8rem;
}

.plus-large-text {
  font-size: 5.6rem;
}

.extra-large-text {
  font-size: 14.4rem;
}
//italic
.plus-small-italic-text {
  @extend .plus-small-text;
  font-style: italic;
}

.medium-italic-text {
  @extend .medium-text;
  font-style: italic;
}
//underline
.plus-small-underline-text {
  @extend .plus-small-text;
  text-decoration: underline;
}

.medium-underline-text {
  @extend .medium-text;
  text-decoration: underline;
}

//BUTTONS
.button {
  @extend .extra-medium-text;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37rem;
  height: 7.5rem;
  text-align: center;
  cursor: pointer;
}

.button--light {
  @extend .button;
  background-color: $button-primary-color;
  color: $button-secondary-color;
  &:hover {
    background-color: $button-primary-color;
    color: $primary-color;
  }
  &:active {
    opacity: 0.8;
  }
}

.button--dark {
  @extend .button;
  background-color: $button-secondary-color;
  color: $neutral-color;
  &:hover {
    background-color: $button-secondary-color;
    color: $secondary-color;
  }
  &:active {
    opacity: 0.8;
  }
}

.contacts {
  display: flex;
  &__item {
    color: $neutral-color;
    margin-left: 2.4rem;
    margin-right: 2.4rem;
    &:nth-child(1) {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
      background: none;
    }
  }
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  

  &__inner {
    // height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    // flex-direction: column;
  }
}

//MAIL SEND
.email-button {
  & ::placeholder {
    opacity: 1;
  }

  &__button {
  }

  &__form {
    display: none;
  }

  &__input-mail-form  {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 20px
  }

  &__submit {
    margin: 40px 0 0 0;
  }
}


.input-mail-form {

  &__mails {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__from-mail {
  }

  &__to-mail {
  }

  &__sender {
    line-height: 0;
    background-color: transparent;
    color: white;
    text-align: center;
    width: auto;
    text-decoration: underline;
  }

  &__receiver {
    line-height: 0;
    background-color: transparent;
    color: white;
    text-align: center;
    width: auto;
    text-decoration: underline;
  }

  &__message {
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 30px;
    margin: 20px 0 0 0;
    border: 1px solid white;
  }
}
.mail {
  display: flex;

}